body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}
li {
    font-size: 18px;
    display: inline;
}
#but {
    font-size: 12px;
}
#but1 {
    font-size: 14px;
}

#li {
    margin-left: 50px;
}

#bon {
    font-size: 22px;
    color: white;

}

#logo {
    font-size: 27px;
    color: white;
    font-family: URW Chancery L, cursive;
    font-style: italic;
}

.navbar {
    background-color: #5b5757;
}

#col {
    
    width: 150px;
   
}


#id {
    font-family: URW Chancery L, cursive;
    font-style: italic;
}

p {
    font-size: 16px;
}

#details {
    font-size: 20px;
    color: #3385ff;
    font-weight: bold;
    border-bottom: solid #3385ff;
}

